.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0 auto;
}
.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
}
.title-form {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
}